{% extends '_base.html' %}

{% block page_title %} login {% endblock %}

{% block content %}

    <section>
    <center><h1>Login</h1></center>
    <div class="d-flex justify-content-center mt-5" dir="ltr">
        <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-xs-6 bg-white m-3 m-sm-5 border rounded px-4 pt-4 pb-3 shadow">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class='btn btn-success mt-3' class="submit">login</button>
            </form>
        </div>
    </div>
    </section>

{% endblock %}