<!DOCTYPE html>
{% extends '_base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block page_title %} Chat Index {% endblock %}
</head>
<body>
    {% block content %}
            <!-- Header-->
            <header class="bg-primary bg-gradient text-white">
                <div class="container px-4 text-center">
                    <h1 class="fw-bolder">Welcome to Django Chatapp!</h1>
                    <p class="lead">A Simple chatapp using django channels and websockets</p>
                </div>
            </header>
            <!-- About section-->
            <section id="about">
                <div class="container px-4">
                    <div class="row gx-4 justify-content-center">
                        <div class="col-lg-8">
                            <h2>Choose which chat room you want to join 🤔</h2>
                            <p class="lead">This is a great place to talk about your webpage. This template is purposefully unstyled so you can use it as a boilerplate or starting point for you own landing page designs! This template features:</p>
                            <ul>
                                {% for room in rooms %}
                                <li>{{room.name}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
    {% endblock %}
</body>
</html>