<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
{% extends '_base.html' %}
<html>
    {% block page_title %}Chat room{% endblock %}

<body>
{% block content %}
<section>
<div class="container">
    <div class="row flex-row-reverse">
    <div class="mt-3">
    <h1>Chat room : {{ room_name }}</h1>
    </div>
    {% if user.is_authenticated %}
    {{user.username|json_script:"username"}}
    <div class="flex mt-3">
        <input type="text" id="sender-log" name="sender-input" class="slight-left" placeholder="sender: @{{user.username}}" readonly>
        <input type="text" id="reciever-log" name="reciever-input" class="slight-left" placeholder="reciever">
        <input class="btn btn-success" id="chat-reciever-submit" type="button" value="submit reciever">
    </div>
    <div data-mdb-input-init class="form-outline mt-3">
        <textarea class="form-control" id="chat-log" rows="5" readonly></textarea>
    </div>
    <div class="form-outline mt-4" data-mdb-input-init>
        <input class="form-control" id="chat-message-input" type="text">
        <input class="btn btn-success mt-3" id="chat-message-submit" type="button" value="Send">
      </div>
    {% else %}
    <h4>you have to be logged in,if you want to use this chatapp!</h4>
    <div>
    <a href="{% url 'login' %}" class="btn btn-success">Login</a>
    </div>
    <div>
        <h5>have not registered yet?</h5>
        <a href="{% url 'accounts:signup' %}" class="btn btn-primary">Signup</a>
    </div>
    {% endif %}
    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const username = JSON.parse(document.getElementById('username').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.message +'\n'+'sent by : '+username+'\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
            }));
            messageInputDom.value = '';
        };
    </script>
</div>
</div>
</section>
{% endblock %}
</body>

</html>