<!DOCTYPE html>
{% extends '_base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block page_title %} Followers {% endblock %}
</head>
<body>
    {% block content %}
            <section id="about">
                <center>
                    <h3>Followings({{follows|length}})</h3>
                </center>
                <div class="container px-4">
                    <div class="row gx-4 justify-content-center">
                            {% for follow in follows %}
                            <div class="card" style="width: 18rem;">
                                {% if follow.following.profile_picture %}
                                <img class="rounded-circle" src="{{ follow.following.profile_picture.url }}" alt="Image"  width="150">
                                {% else %}
                                <img class="rounded-circle" src="{% static 'images/no-picture.jpg' %}" alt="Image"  width="150">
                                {% endif %}
                                <div class="card-body">
                                  <h5 class="card-title">@{{follow.following.username}}</h5>
                                  <p class="card-text">bio: {{follow.following.bio}}</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                  <li class="list-group-item">{{follow.following.first_name}} {{follow.following.last_name}}</li>
                                </ul>
                                <div class="card-body">
                                    {% if user != request.user %}
                                        {% if follow_status == True %}
                                        <a href="{% url 'social:follow' follow.following.username 0 %}" class="btn btn-secondary">Unfollow</a>
                                        {% else %}
                                        <a href="{% url 'social:follow' follow.following.username 1 %}" class="btn btn-primary">Follow</a>
                                        {% endif %}
                                    {% endif %}
                                        <a href="{{ follow.following.get_absolute_url }}" class="btn btn-secondary">View Profile</a>
                                </div>
                              </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
    {% endblock %}
</body>
</html>